* text=auto

*.md text eol=lf
*.py text eol=lf
*.txt text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.ipynb text eol=lf
*.jinja text eol=lf
*.gitignore text eol=lf
.gitattributes text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.safetensors binary
*.bin binary
*.pt binary
*.pth binary
